// homepage.scss //
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

//****** NOTES ******//
// fix rotate on mobile //

/************ body style **********/
html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  font-family: "Roboto", helvetica, sans-serif;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;

  a:hover {
    text-decoration: none;
  }
}

//********** background styling *********//
.background_size {
  -webkit-animation: 1.3s ease-in-out fadeIn; /* Safari 4+ */
  -moz-animation: 1.3s ease-in-out fadeIn; /* Fx 5+ */
  -o-animation: 1.3s ease-in-out fadeIn; /* Opera 12+ */
  animation: 1.3s ease-in-out fadeIn; /* IE 10+, Fx 29+ */
  height: 50vh;
  min-height: 300px;
  position: absolute;
  width: 100%;
  @media(min-width: $screen-sm-min) {
    height: 100%;
    top: 0;
    width: 50%;
  }
}

.vertical_middle {
  display: table;
  height: 50vh;
  min-height: 300px;
  vertical-align: middle;
  width: 100%;
  @media(min-width: $screen-sm-min) {
    height: 100vh;
  }
}

//*** art ***//
.art_website_background {
  background-color: #fff;
  left: 0;
}

.art_website_background_image {
  background-image: url('/img/art_homepage_3.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  @media(min-width: $screen-sm-min) {
    background-size: cover;
  }
}

//*** design ***//
.design_website_background {
  background-color: #ebfff9;
}

.design_website_background_image {
  background-image: url('/img/web_background_v1.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  @media(min-width: $screen-sm-min) {
    background-size: cover;
  }
}

.design_website_background {
  right: 0;
}

//******** elements *********//
.text_box {
  display: table-cell;
  vertical-align: middle;
  @media(min-width: $screen-sm-min) {
    .wrapping-border {
      border: 2px solid transparent;
      border-radius: 2px;
      margin: 0 2em;
      padding: 20px 10px;
    }
  }
  @media(min-width: $screen-md-min) {
    .wrapping-border {
      margin: 0 9em;
    }
  }
  @media(min-width: $screen-sm-min) {
    .wrapping-border.scale2.green {
      background-color: #ebfff9;
    }
  }

  h2 {
  margin: 0;
  }

  span {
    font-size: 18px;
  }

  img {
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    align-items: right;
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-bottom: .5em;
    transition: transform .5s ease-in-out;
    width: 12%;
    @media(min-width: $screen-sm-min) {
      margin-top: -8em;
      padding-bottom: 1.5em;
    }
  }
}

a:hover > img {
  transform: scale(1.2);
}

a:hover > div > h4.green.text-center {
  color: darken(#53caaa, 15%)!important;
}

a:hover > div > h4.purple.text-center {
  color: darken(#b8a3fd, 15%)!important;
}

a > div > h4 {
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transform: color .5s ease-in-out;
}

//******* colours *******//
.black {
  border-color: #666666!important;
  color: #666666!important;
}

.purple {
  border-color: #b8a3fd!important;
  color: #b8a3fd!important;
}

.green {
  border-color: #53caaa!important;
  color: #53caaa!important;
}

.grey {
  border-color: #939393!important;
  color: #939393!important;
}

//******** animations ********//
// .fade-out {
//   -webkit-animation: 1.3s ease-in-out fadeOut; /* Safari 4+ */
//   -moz-animation: 1.3s ease-in-out fadeOut; /* Fx 5+ */
//   -o-animation: 1.3s ease-in-out fadeOut; /* Opera 12+ */
//   animation: 1.3s ease-in-out fadeOut; /* IE 10+, Fx 29+ */
// }
.animation-left {
  -webkit-animation: 1s ease-out 0s 1 slideInFromLeft; /* Safari 4+ */
  -moz-animation: 1s ease-out 0s 1 slideInFromLeft; /* Fx 5+ */
  -o-animation: 1s ease-out 0s 1 slideInFromLeft; /* Opera 12+ */
  animation: 1s ease-out 0s 1 slideInFromLeft; /* IE 10+, Fx 29+ */
}

.animation-right {
  -webkit-animation: 1s ease-out 0s 1 slideInFromRight; /* Safari 4+ */
  -moz-animation: 1s ease-out 0s 1 slideInFromRight; /* Fx 5+ */
  -o-animation: 1s ease-out 0s 1 slideInFromRight; /* Opera 12+ */
  animation: 1s ease-out 0s 1 slideInFromRight; /* IE 10+, Fx 29+ */
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

// @keyframes fadeOut {
//   0%   { opacity: 1; }
//   100% { opacity: 0; }
// }
